
.jumbotron {
    background-color: lightgrey;
    padding-top: 0%;
    padding-bottom: 0%;
}

table, td {
    border: 1px solid black;
    text-align: left;
    padding-right: 25px;
    padding-left: 25px;
}

th {
    border: 1px solid black;
    text-align: center;
    padding: 15px
}

.myMargin {
    margin-top: 5px;
}

.btn-file {
    position: relative;
    overflow: hidden;
}
.btn-file input[type=file] {
    top: 0;
    right: 0;
    min-width: 100%;
    max-height: 0%;
    font-size: 100px;
    text-align: right;
    vertical-align:top;
    filter: alpha(opacity=0);
    opacity: 0;
    outline: none;
    background: white;
    cursor: inherit;
    display: block;
}

h4 {
    text-align: center;
}
